@use "./../../../App.scss" as *;


.coming-events-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: $black;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    overflow-y: scroll;
    z-index: 50;
}

.blog-tools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.back-button{
    fill: $red;
    cursor: pointer;
    padding-top: 20px;
}