// Variables de colores
$bg-color: #9DDE8B;
$text-color: #000000;
$green1: #40A578;
$green2: #006769;
$cream: #E6FF94;

$red:  #c5143d;
$gray: #4B4F54;
$black:  #25282A;
$light-gray:  #EDF0ED;

// Declaración de la fuente
@font-face {
    font-family: 'Garet';
    src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// Estilos
.app-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black;
}

* {
    font-family: 'Garet', sans-serif;
    color: $text-color;
}
